@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
  background: none; /* BS override */
  font-family: "Libre Franklin", sans-serif;
  background-image: linear-gradient( rgba(19, 19, 19, 0.55), rgba(28, 15, 35, 0.92)), url(../images/ny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  padding: 2em;
}

section {
  background: none;
}

.splash {
  margin-top: 3em;
}

.splashText {
  margin: auto;
  padding: 1.25em;
  max-width: 900px;
  font-size: calc(28px + 6 * ((100vw - 320px) / 680));
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.0001em;
  text-align: center;
  color: white;
}

.splashText p#subtext {
  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  line-height: initial;
  color: rgb(245, 245, 245);
}

/* Navbar BS override */
.navbar {
  padding: 1.4em 1.4em 0 2.0em;
  /* box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.1); */
  background-color: none;
}

.navbar-nav a.nav-item.nav-link {
  color: white;
  text-transform: lowercase;
  margin-right: 1.5em;
}

.navbar-nav a.nav-item.nav-link:hover {
  transition: 0.5s;
}

#logo {
  filter: invert(1)
}

/* Main logo el */
#logo:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.row div {
  padding: 2em;
}

/* Cards */

.cardRows {
  margin-top: -4.5em;
}

.card {
  margin: .5em;
  box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.15);
  border: none;
}

.card-img-top {
  height: 240px;
  object-fit: cover;
  object-position: bottom;
  z-index: 0;
  
}

.card-img-top:hover {
  opacity: 0.88;
  transition: 0.5s;
  cursor: pointer;
}

.card-title {
  font-weight: 800;
}

section.content {
  color: #a6a6a6;
}

/* Philosophy Section */

#philosophy .row div:last-child p {
  margin-top: 1.25em;
}

/* Engineer Section */

#engineer .row div:last-child {
}

#engineer .row div:first-child {
  padding: 2em;
}

#engineer .row div:first-child p {
  color: rgb(140, 140, 140);
  margin-top: 1.25em;
}

/* Submission Section */

#submission {
}

#submission .row div:first-child {
  min-height: 240px;
}

#subission .row div:last-child {
  padding: 2em;
}

#submission .row div p {
  margin-top: 1.25em;
}

/* Font Awesome */
.fas {
  margin-right: .35em;
}

h3 {
  color: white;
}