html {
}

body {
  background: none; /* BS override */
}

.wrapper {
  padding: 2em;
}

section {
  background: none;
}

.splash {
  padding-top: 6em;
  background-image: linear-gradient( rgba(24, 24, 24, .7), rgba(24, 24, 24, .7) ), url("../images/NYC-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 500px;
  margin: -85px;
}

.splashText {
  margin: auto;
  padding: 1.5em;
  max-width: 600px;
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.0001em;
  text-align: center;
  color: white;
}

/* Navbar BS override */
.navbar {
  padding: 1.4em 1.4em 0 1.4em;
  /* box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.1); */
  background-color: none;
}

#logo {
  filter: invert(1)
}

/* Main logo el */
#logo:hover {
  opacity: 0.6;
  transition: 0.3s;
}

