@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
  background: none; /* BS override */
  font-family: "Libre Franklin", sans-serif;
  background-image: linear-gradient( rgba(19, 19, 19, 0.55), rgba(28, 15, 35, 0.92)), url(../images/ny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  padding: 2em;
}

section {
  background: none;
}

.splash {
  margin-top: 3em;
}

.splashText {
  margin: auto;
  padding: 1.25em;
  max-width: 900px;
  font-size: calc(28px + 6 * ((100vw - 320px) / 680));
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: 0.0001em;
  text-align: center;
  color: white;
}

.splashText p#subtext {
  font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  line-height: initial;
  color: rgb(245, 245, 245);
}

/* Navbar BS override */
.navbar {
  padding: 1.4em 1.4em 0 2.0em;
  /* box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.1); */
  background-color: none;
}

.navbar-nav a.nav-item.nav-link {
  color: white;
  text-transform: lowercase;
  margin-right: 1.5em;
}

.navbar-nav a.nav-item.nav-link:hover {
  transition: 0.5s;
}

#logo {
  filter: invert(1)
}

/* Main logo el */
#logo:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.row div {
  padding: 2em;
}

section.content {
  color: #a6a6a6;
}

footer {
  background: #202029;;
  height: 4em;
}

.footerContent {
  width: 900px;
  margin: auto;
  color: white;
  padding: 1em;
}

.footerColumn {
  display: inline-block;
  width: 400px;
}

#copyright {
  text-align: right;
  color: #737373;
  font-size: .7em;
}

.insideOutButton {
  background: none;
  color: white;
  border-style: solid;
  border-width: 2px;
  padding: .5em 1em .5em 1em;
}

.insideOutButton:hover {
  background: white;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: .5em 1em .5em 1em;
  transition: 0.3s;
}

#getStartedButton {
  margin-top: 1em;
}

#submitArrow {
  margin-left: .5em;
}

/* Font Awesome */
.fas {
  margin-right: .35em;
}

h3 {
  color: white;
  margin-bottom: 1em;
}